# ICC2 Milkyway library
cpu_pad.mw/

# ICC2 working files
*.log
command.log
default.svf
alib-52/

# Synthesis outputs (large, can be regenerated)
output/
design_data/

# VCS simulation artifacts
simv*
csrc/
vc_hdrs.h
*.vcd
*.daidir/
